{{! Everything inside the #author tags pulls data from the author }}
{{#primary_author}}
    {{#if profile_image}}
        <figure class="author-image">
            <a class="img" href="{{url}}" style="background-image: url({{img_url profile_image}})"><span class="hidden">{{name}}'s Picture</span></a>
        </figure>
    {{/if}}
{{/primary_author}}
<figure class="author-info">
    <section class="author-info-title">
        <span class="pull-right">{{t "Publish At"}}：<time class="post-date" datetime="{{date format='YYYY-MM-DD'}}">{{date format="YYYY-MM-DD"}}</time></span>
        {{#primary_author}}
        <span>{{t "Author"}}：{{name}}</span>
    </section>
    <section class="author-info-content">
        {{#if bio}}
            <span class="author-info-bio">{{bio}}</span>
        {{else}}
            <p class="author-info-bio-placeholder">{{t "Read"}} <a href="{{url}}">{{t "more posts"}}</a> {{t "by this author"}}</p>
        {{/if}}
        <section class="author-info-social">
            {{!-- {{#if website}}<a href="{{website}}" class="author-info-social-website">我的站点</a>{{/if}} --}}
            {{!-- <a href="{{url}}" class="author-info-social-feature">我的专栏</a> --}}
            <a href="https://github.com/fuyong859050943" class="author-info-social-github" target="_blank">{{t "Github"}}</a>
            <a href="http://weibo.com/1963452754" class="author-info-social-weibo" target="_blank">{{t "Weibo"}}</a>
            <a href="https://segmentfault.com/u/fuyongali" class="author-info-social-sf" target="_blank">SegmentFault</a>
            <a href="https://juejin.cn/user/3790771819909950/posts" class="author-info-social-jj" target="_blank">掘金专栏</a>
            <a href="https://www.zhihu.com/people/fuyong-68" class="author-info-social-zh" target="_blank">知乎</a>
            <a href="https://gitee.com/fuyong90" class="author-info-social-gitee" target="_blank">gitee</a>
            <a href="https://hub.docker.com/u/fuyong" class="author-info-social-docker" target="_blank">docker</a>
            <a href="https://fuyong-01.coding.net/user" class="author-info-social-coding" target="_blank">coding.net</a>
        </section>
        {{/primary_author}}
    </section>
</figure>
