{{! 社交信息 }}
<nav class="navigation social">
    <ul class="social">
        <li>
            <a href="http://weibo.com/1963452754" class="social-weibo" target="_blank">
                <i class="fa fa-xlg fa-weibo" data-original-title="{{t " Weibo"}}" data-rel="tooltip"></i>
            </a>
        </li>
        <li>
            <a href="https://github.com/fuyong859050943" class="social-github" target="_blank">
                <i class="fa fa-xlg fa-github" data-original-title="{{t " Github"}}" data-rel="tooltip"></i>
            </a>
        </li>
        <li>
            <a href="https://music.163.com/#/user/home?id=403051490" class="social-music" target="_blank">
                <i class="fa fa-xlg fa-music" data-original-title="{{t " NeteaseMusic"}}" data-rel="tooltip"></i>
            </a>
        </li>
        <li>
            <a href="mailto:859050943@qq.com" class="social-mail" target="_blank">
                <i class="fa fa-xlg fa-envelope-o" data-original-title="{{t " Contact Me"}}" data-rel="tooltip"></i>
            </a>
        </li>
        <li>
            <a href="/rss/" class="social-rss" target="_blank">
                <i class="fa fa-xlg fa-rss" data-original-title="{{t " RSS"}}" data-rel="tooltip"></i>
            </a>
        </li>
    </ul>
</nav>